<% if (page.comments){ %>
<section id="comment">
    <script src="https://utteranc.es/client.js"
        repo="<%- config.commentUrl %>"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</section>
<% } %>
